In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup #to beautify xml output
from lxml import etree as ET #read and write xml files
pd.options.display.max_columns=50

import time

In [2]:
# Read the trips file from SF-CHAMP output
trip=pd.read_table('../SF-CHAMP Outputs/_trip_2.dat',sep='\t',header='infer')
mzone = pd.read_csv('../SF-CHAMP Outputs/mzone_short.csv') #MZONE coordinates in EPSG 26910 projection
mzone.drop(columns=['Unnamed: 0'],inplace=True)
tour=pd.read_table('../SF-CHAMP Outputs/_tour_2.dat',sep='\t',header='infer')
households=pd.read_table('../SF-CHAMP Outputs/_household_2.dat',sep='\t',header='infer')
person=pd.read_table('../SF-CHAMP Outputs/_person_2.dat',sep='\t',header='infer')

In [7]:
person=person[['hhno','pno','pagey','pgend']]
households=households[['hhno','hhvehs','hhwkrs','hhincome']]

In [3]:
def county(x):
    if x<1191:
        return "San Francisco"
    elif x<1347:
        return "San Mateo"
    elif x<1715:
        return "Santa Clara"
    elif x<2040:
        return "Almeda"
    elif x<2211:
        return "Contra Costa"
    elif x<2291:
        return "Solano"
    elif x<2318:
        return "Napa"
    elif x<2404:
        return 'Sonoma'
    else:
        return "Marin"
    
trip['Orig_County']=trip['otaz'].apply(county)
trip['Dest_County']=trip['dtaz'].apply(county)

In [4]:
sf_orig=trip[(trip['Orig_County']=='San Francisco')|(trip['Dest_County']=='San Francisco')]

almeda=trip[(trip['Orig_County']=='Almedao')&(trip['Dest_County'].isin(['Marin','San Mateo']))]

contra=trip[(trip['Orig_County']=='Contra Costa')&(trip['Dest_County'].isin(['San Mateo']))]

marin=trip[(trip['Orig_County']=='Marin')&(trip['Dest_County'].isin(['Almeda','San Mateo','Santa Clara']))]

napa=trip[(trip['Orig_County']=='Napa')&(trip['Dest_County'].isin(['San Mateo']))]

sonoma=trip[(trip['Orig_County']=='Sonoma')&(trip['Dest_County'].isin(['San Mateo','Santa Clara']))]

sanmateo=trip[(trip['Orig_County']=='San Mateo')&(trip['Dest_County'].isin(['Almeda','Contra Costa','Marin','Solano','Napa','Sonoma']))]

santaclara=trip[(trip['Orig_County']=='Santa Clara')&(trip['Dest_County'].isin(['Sonoma','Marin']))]

solano=trip[(trip['Orig_County']=='Solano')&(trip['Dest_County'].isin(['San Mateo']))]
        
    
trip=pd.concat([sf_orig,almeda,contra,marin,napa,sonoma,sanmateo,santaclara,solano],ignore_index=True)

In [5]:
sf_orig=None
almeda=None
contra=None
marin=None
napa=None
sonoma=None
sanmateo=None
santaclara=None
solano=None

In [11]:
households.head()

   hhno  hhvehs  hhwkrs  hhincome
0     2       0       0      6001
1    22       1       0     44746
2    18       1       1     34014
3     9       1       1     30020
4     5       1       0     18373

In [12]:
trip_hh=pd.merge(trip,households,on=['hhno'],how='left')
trip_hh_person=pd.merge(trip_hh,person,on=['hhno','pno'],how='left')

,id,tour_id,hhno,pno,day,tour,half,tseg,tsvid,opurp,dpurp,oadtyp,dadtyp,opcl,otaz,dpcl,dtaz,mode,pathtype,dorp,deptm,arrtm,endacttm,travtime,travcost,travdist,vot,trexpfac,Orig_County,Dest_County,hhvehs,hhwkrs,hhincome,pagey,pgend
0,9101,91,9,1,1,1,1,1,0,0,1,1,2,720,1,2673,440,3,2,1,419,435,934,16.590000,0.565200,4.710000,10.980627,1,San Francisco,San Francisco,1,1,30020,54,1
1,9151,91,9,1,1,1,2,1,0,1,0,2,1,2673,440,720,1,3,2,1,934,950,179,16.670000,0.560400,4.670000,10.980627,1,San Francisco,San Francisco,1,1,30020,54,1
2,5101,51,5,1,1,1,1,1,0,0,5,1,4,720,1,2239,924,6,3,4,578,610,632,32.070000,0.415000,6.070000,5.281956,1,San Francisco,San Francisco,1,0,18373,79,2
3,5151,51,5,1,1,1,2,1,0,5,0,4,1,2239,924,720,1,6,3,4,632,663,179,31.570000,0.415000,6.000000,5.281956,1,San Francisco,San Francisco,1,0,18373,79,2
4,18101,181,15,2,1,1,1,1,0,0,5,1,4,20,1,1301,918,3,2,1,902,917,926,15.520000,0.511200,4.260000,2.950609,1,San Francisco,San Francisco,1,0,9165,66,2
5,18151,181,15,2,1,1,2,1,0,5,0,4,1,1301,918,20,1,3,2,1,926,941,179,15.700000,0.535200,4.460000,2.950609,1,San Francisco,San Francisco,1,0,9165,66,2
6,28101,281,20,2,1,1,1,1,0,0,5,1,4,720,1,3868,21,1,1,0,675,706,716,31.989152,0.000000,1.599458,7.282118,1,San Francisco,San Francisco,1,1,36487,55,1
7,28151,281,20,2,1,1,2,1,0,5,0,4,1,3868,21,720,1,1,1,0,716,747,179,31.649265,0.000000,1.582463,7.282118,1,San Francisco,San Francisco,1,1,36487,55,1
8,1101,11,1,1,1,1,1,1,0,0,6,1,4,720,1,3173,950,6,3,3,667,718,788,51.660000,0.830000,7.330000,2.354249,1,San Francisco,San Francisco,0,0,942,55,2
9,1151,11,1,1,1,1,2,1,0,6,0,4,1,3173,950,720,1,6,3,3,788,840,179,52.750000,0.830000,7.080000,2.354249,1,San Francisco,San Francisco,0,0,942,55,2
10,11101,111,11,1,1,1,1,1,0,0,4,1,4,720,1,4075,63,3,2,1,571,577,620,6.118689,0.203828,1.698564,5.760312,1,San Francisco,San Francisco,1,0,36157,68,2
11,11151,111,11,1,1,1,2,1,0,4,0,4,1,4075,63,720,1,3,2,1,620,626,179,6.164824,0.204595,1.704959,5.760312,1,San Francisco,San Francisco,1,0,36157,68,2
12,10101,101,10,1,1,1,1,1,0,0,1,1,4,720,1,2888,48,2,1,0,448,460,85,12.539659,0.000000,2.089943,15.378994,1,San Francisco,San Francisco,0,1,28888,51,1
13,10151,101,10,1,1,1,2,1,0,1,0,4,1,2888,48,720,1,2,1,0,85,97,179,12.539659,0.000000,2.089943,15.378994,1,San Francisco,San Francisco,0,1,28888,51,1
14,3301,33,3,1,1,3,1,1,0,0,4,1,4,20,1,111357,1208,9,2,11,486,494,546,8.880086,0.268989,2.241575,3.642535,1,San Francisco,San Mateo,0,1,8728,47,1
15,3351,33,3,1,1,3,2,1,0,4,0,4,1,111357,1208,20,1,9,2,11,546,554,603,8.947141,0.268989,2.241575,3.642535,1,San Mateo,San Francisco,0,1,8728,47,1
16,3101,31,3,1,1,1,1,1,0,0,1,1,4,20,1,190,743,6,3,2,603,636,791,33.280000,0.000000,6.800000,4.079022,1,San Francisco,San Francisco,0,1,8728,47,1
17,3151,31,3,1,1,1,2,1,0,1,0,4,1,190,743,20,1,6,6,2,791,824,923,33.210000,0.000000,6.590000,4.079022,1,San Francisco,San Francisco,0,1,8728,47,1
18,3201,32,3,1,1,2,1,1,0,0,1,1,2,20,1,2618,952,6,6,2,923,957,1102,34.750000,0.000000,7.550000,7.123276,1,San Francisco,San Francisco,0,1,8728,47,1
19,3251,32,3,1,1,2,2,1,0,1,0,2,1,2618,952,20,1,6,6,2,1102,1136,179,34.530000,0.000000,7.250000,7.123276,1,San Francisco,San Francisco,0,1,8728,47,1

In [27]:
def trip_type_location(df):
    if df['otaz']<1000 and df['dtaz']<1000:
        return 'int-int'
    elif df['otaz']<1000 and df['dtaz']>1000:
        return 'int-ext'
    elif df['otaz']>1000 and df['dtaz']>1000:
        return 'ext-ext'
    else:
        return 'ext-int'
    
def person_id(df):
    
    if df['trip_type']=='int-int':
        return str(df['hhno'])+'-'+str(df['pno'])
    else:
        return 'ix-'+str(df['hhno'])+'-'+str(df['pno'])
    
def convert_time(x): 
    #ARRTM, DEPTM, ENDTM etc is in minutes after 3 AM
    return time.strftime("%H:%M:%S", time.gmtime(x*60+180))

def trip_origin_purpose(df):
    #(0=home, 1=work, 2=school, 3=escort, 4=personal business (& medical), 
    #5=shopping, 6=meal, 7=social (& recreation), 8=recreation (H version only) 
    #9=medical (H version only), 10=change mode at a park and ride lot
    
    age=df['pagey']
    x=df['opurp']
    
    
    if x==0:
        return 'home'
    elif x==1:
        return 'work'
    elif x==2 and age<18:
        return 'school'
    elif x==2 and age>18:
        return 'univ'
    elif x==3:
        return 'escort'
    elif x==4:
        return 'othmaint'
    elif x==5:
        return 'shopping'
    elif x==6:
        return "eatout"
    elif x in [7,8]:
        return 'social'
    else:
        return 'othdiscr'
    
def trip_destination_purpose(df):
    #(0=home, 1=work, 2=school, 3=escort, 4=personal business (& medical), 
    #5=shopping, 6=meal, 7=social (& recreation), 8=recreation (H version only) 
    #9=medical (H version only), 10=change mode at a park and ride lot
    
    age=df['pagey']
    x=df['dpurp']
    
    
    if x==0:
        return 'home'
    elif x==1:
        return 'work'
    elif x==2 and age<18:
        return 'school'
    elif x==2 and age>18:
        return 'univ'
    elif x==3:
        return 'escort'
    elif x==4:
        return 'othmaint'
    elif x==5:
        return 'shopping'
    elif x==6:
        return "eatout"
    elif x in [7,8]:
        return 'social'
    else:
        return 'othdiscr'
    
def tour_purpose(df):
    #(0=home, 1=work, 2=school, 3=escort, 4=personal business (& medical), 
    #5=shopping, 6=meal, 7=social (& recreation), 8=recreation (H version only) 
    #9=medical (H version only), 10=change mode at a park and ride lot
    
    age=df['pagey']
    x=df['pdpurp']
    
    
    if x==0:
        return 'home'
    elif x==1:
        return 'work'
    elif x==2 and age<18:
        return 'school'
    elif x==2 and age>18:
        return 'univ'
    elif x==3:
        return 'escort'
    elif x==4:
        return 'othmaint'
    elif x==5:
        return 'shopping'
    elif x==6:
        return "eatout"
    elif x in [7,8]:
        return 'social'
    else:
        return 'othdiscr'
    
    
def mode_type(df):
    #Trip main mode type (1=walk, 2=bike, 3=sov, 4=hov 2, 5=hov 3+, 
    #6=walk to transit, 7=park and ride, 8=school bus, 9=TNC, 10=other – survey only)
    if df['mode']==1:
        return 'walk'
    elif df['mode']==2:
        return 'bike'
    elif df['mode']==3:
        return 'car'
    elif df['mode'] in [4,5]:
        #return 'car'
        if df['dorp']==1:
            return 'car'
        else:
            return 'teleportation'
    elif df['mode']==6:
        return 'walk_transit'
    elif df['mode']==7:
        return 'drive_transit'
    elif df['mode']==9:
        return 'ride_hail'
    else:
        return 'other'

In [ ]:
def data_cleanup(trips,households,person,mzone):
    
    _trip_hh=pd.merge(trip,households,on=['hhno'],how='left')
    trip_hh_person=pd.merge(trip_hh,person,on=['hhno','pno'],how='left')

In [ ]:
trip_hh_person['trip_type']=trip_hh_person.apply(trip_type_location,axis=1)
trip_hh_person['person_id']=trip_hh_person.apply(person_id,axis=1)

trip_hh_person['trip_origin_purpose']=trip_hh_person.apply(trip_origin_purpose,axis=1)
trip_hh_person['trip_destination_purpose']=trip_hh_person.apply(trip_destination_purpose,axis=1)


trip_hh_person['departure_time']=trip_hh_person['deptm'].apply(convert_time)
trip_hh_person['arrival_time']=trip_hh_person['arrtm'].apply(convert_time)
trip_hh_person['end_activity_time']=trip_hh_person['endacttm'].apply(convert_time)
    
trip_hh_person.head()

In [25]:
trip_hh_person['mode']=trip_hh_person.apply(mode_type,axis=1)
    
trip_hh_person=trip_hh_person[['hhno','pno','person_id', 'tour_id','trip_type', 'opcl', 'dpcl',
                 'mode', 'dorp', 'trip_origin_purpose','trip_dest_purpose',
                 'departure_time', 'arrival_time', 'end_activity_time','vot']]
trip_hh_person.sort_values(['person_id','departure_time'],inplace=True)

,id,tour_id,hhno,pno,day,tour,half,tseg,tsvid,opurp,dpurp,oadtyp,dadtyp,opcl,otaz,dpcl,dtaz,mode,pathtype,dorp,deptm,arrtm,endacttm,travtime,travcost,travdist,vot,trexpfac,Orig_County,Dest_County,trip_type,person_id
0,9101,91,9,1,1,1,1,1,0,0,1,1,2,720,1,2673,440,3,2,1,419,435,934,16.59,0.5652,4.71,10.980627,1,San Francisco,San Francisco,int-int,9-1
1,9151,91,9,1,1,1,2,1,0,1,0,2,1,2673,440,720,1,3,2,1,934,950,179,16.67,0.5604,4.67,10.980627,1,San Francisco,San Francisco,int-int,9-1
2,5101,51,5,1,1,1,1,1,0,0,5,1,4,720,1,2239,924,6,3,4,578,610,632,32.07,0.4150,6.07,5.281956,1,San Francisco,San Francisco,int-int,5-1
3,5151,51,5,1,1,1,2,1,0,5,0,4,1,2239,924,720,1,6,3,4,632,663,179,31.57,0.4150,6.00,5.281956,1,San Francisco,San Francisco,int-int,5-1
4,18101,181,15,2,1,1,1,1,0,0,5,1,4,20,1,1301,918,3,2,1,902,917,926,15.52,0.5112,4.26,2.950609,1,San Francisco,San Francisco,int-int,15-2